{% extends "base-site.html" %}
    
{% load static %}

{% block content %}

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image:url(assets/img/breadcrumb/01.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h2 class="page-title">A propos de nous</h2>
                        <ul class="page-list">
                            <li><a href="{% url 'index' %}">Accueil</a></li>
                            <li><a href="#">A propos de nous</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- who-we-are  -->
    <section class="who-we-are padding-bottom-120 padding-top-120">
        <div class="container">
            <div class="who-we-wrapper padding-30 bg-image">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="who-we-are-content">
                            <div class="content">
                                <div class="section-title">
                                    <span>Who We Are</span>
                                    <h2 class="title">We raise voice for people rights & provide rights</h2>
                                    <div class="author-sign margin-top-30">
                                        <img src="{% static "assets/img/we-offer/sign.png" %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="who-we-right">
                            <div class="section-title">
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                                <br>
                                <div class="section-para">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- header-bottom start -->
    <div class="header-bottom-area m-bottom">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4">
                    <div class="idology-single-item">
                        <div class="content">
                            <div class="thumb" style="background-image: url({% static "assets/img/country/01.png" %});">
                                <img src="{% static "assets/img/country/01.png" %}" alt="">
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" class="idology-btn">Protecting City</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="idology-single-item">
                        <div class="content">
                            <div class="thumb" style="background-image: url({% static "assets/img/country/01.png" %});">
                                <img src="{% static "assets/img/country/02.png" %}" alt="">
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" class="idology-btn style-01">Fair Governence</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="idology-single-item">
                        <div class="content">
                            <div class="thumb" style="background-image: url({% static "assets/img/country/01.png" %});">
                                <img src="{% static "assets/img/country/03.png" %}" alt="">
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" class="idology-btn style-02">Clean Environment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom area end -->
    <!-- Counter Area -->
    <div class="counterup-area bg-blue bg-image padding-bottom-105 padding-top-190" style="background-image: url(assets/img/bg/02.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">25,007</span>+</div>
                            <h4 class="title">Successfully Delivered</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">344,771</span>+</div>
                            <h4 class="title">Worldwide Clients</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">7,079</span>+</div>
                            <h4 class="title">Store Clients Products</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">1043</span>+</div>
                            <h4 class="title">Total Km Reach So Far</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- why choose us area start  -->
    <section class="why-choose-use-area padding-top-115 padding-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-sm-12 col-12">
                    <div class="section-title desktop-center margin-bottom-35">
                        <span>Policy positions</span>
                        <h2 class="title">Ideological Leader For Youth Generation
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item margin-bottom-20">
                        <div class="icon">
                            <i class="flaticon-ballot-1"></i>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">
                                    Democracy
                                </h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item margin-bottom-20">
                        <div class="icon">
                            <i class="flaticon-team-2"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Social Care</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item margin-bottom-20">
                        <div class="icon">
                            <i class="flaticon-court"></i>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Justice for All</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why choose us area end -->
    <!-- testimonial area start  -->
    <section class="testimonial-area bg-image-02 padding-top-110 padding-bottom-115" style="background-image: url(assets/img/bg/05.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title white desktop-center padding-bottom-20">
                        <h2 class="title">Why they support us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-area margin-top-10">
                        <div class="testimonial-carousel">
                            <div class="single-testimonial-item-02">
                                <div class="content">
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                    <div class="thumb">
                                        <img src="{% static "assets/img/testimonial/03.png" %}" alt="testimonial">
                                    </div>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Andre Robin
                                            </h4>
                                            <span class="designation">CEO, art media</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial-item-02">
                                <div class="content">
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                    <div class="thumb">
                                        <img src="{% static "assets/img/testimonial/03.png" %}" alt="testimonial">
                                    </div>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Jonathon Andre Doe
                                            </h4>
                                            <span class="designation">CEO, art media</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->
    <!-- Our Event -->
    <div class="our-event-area padding-top-120 padding-bottom-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title padding-top-25 margin-bottom-60">
                                <span>Our Events</span>
                                <h3 class="title">Join on going latest events</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 single-event-item margin-bottom-30">
                            <div class="thumb">
                                <img src="{% static "assets/img/event/01.png" %}" alt="blog image">
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="post-mate">
                                        <h2 class="post-date">23</h2>
                                        <div class="post-month">Sep</div>
                                    </div>
                                    <div class="author-mate">
                                        <h4 class="title"><a href="#">Environment Summit for city</a></h4>
                                        <p><i class="flaticon-global"></i> Benefit Teragram Hall 395 Nostrand Ave, Brooklyn.</p>
                                    </div>
                                </div>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt non efficitur ex fringilla id. Donec porttitor molestie dolor a pellentesque.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-event-item margin-bottom-30">
                            <div class="thumb">
                                <img src="{% static "assets/img/event/02.png" %}" alt="blog image">
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="post-mate">
                                        <h2 class="post-date">23</h2>
                                        <div class="post-month">Sep</div>
                                    </div>
                                    <div class="author-mate">
                                        <h4 class="title"><a href="#">Environment Summit for city</a></h4>
                                        <p><i class="flaticon-global"></i>Benefit Teragram Hall 395 Nostrand Ave, Brooklyn.</p>
                                    </div>
                                </div>
                                <p> Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt non efficitur ex fringilla id. Donec porttitor molestie dolor a pellentesque.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 single-event-item margin-bottom-30">
                            <div class="thumb">
                                <img src="{% static "assets/img/event/01.png" %}" alt="blog image">
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="post-mate">
                                        <h2 class="post-date">23</h2>
                                        <div class="post-month">Sep</div>
                                    </div>
                                    <div class="author-mate">
                                        <h4 class="title"><a href="#">Environment Summit for city</a></h4>
                                        <p><i class="flaticon-global"></i> Benefit Teragram Hall 395 Nostrand Ave, Brooklyn.</p>
                                    </div>
                                </div>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt non efficitur ex fringilla id. Donec porttitor molestie dolor a pellentesque.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-event-item margin-bottom-30">
                            <div class="thumb">
                                <img src="{% static "assets/img/event/02.png" %}" alt="blog image">
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="post-mate">
                                        <h2 class="post-date">23</h2>
                                        <div class="post-month">Sep</div>
                                    </div>
                                    <div class="author-mate">
                                        <h4 class="title"><a href="#">Environment Summit for city</a></h4>
                                        <p><i class="flaticon-global"></i>Benefit Teragram Hall 395 Nostrand Ave, Brooklyn.</p>
                                    </div>
                                </div>
                                <p> Sed do eiusmod tempor incididunt ut labore et dolore eiusmod tempor incididunt non efficitur ex fringilla id. Donec porttitor molestie dolor a pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-4">
                    <div class="request-page-form-wrap bg-image" style="background-image: url({% static "assets/img/bg/03.png" %});">
                        <div class="section-title white">
                            <h4 class="title">Join as Volunteer</h4>
                        </div>
                        <form action="request.html" class="request-page-form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="city" placeholder="City of Departure" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="weight" placeholder="Total Weight" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="city" placeholder="Deliver City" class="form-control" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="your-message" cols="40" rows="10" class="form-control" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Submit Request" class="submit-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    
{% endblock content %}