{% extends "base-site.html" %}
    
{% load static %}

{% block content %}

<!-- Breadcrumb Area -->
<div class="breadcrumb-area  margin-bottom-120" style="background-image:url(assets/img/breadcrumb/01.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h2 class="page-title">Saissez nous un message</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index' %}">Accueil</a></li>
                        <li><a href="#">Contactez nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- who-we-are  -->
<!-- Contact Area -->
<div class="contact-inner-area padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-area">
                    <div class="section-title padding-bottom-25">
                        <span>We are available 24/7</span>
                        <h4 class="title">Keep in touch with us</h4>
                    </div>
                    <div class="single-contact-item">
                        <div class="icon">
                            <i class="flaticon-map"></i>
                        </div>
                        <div class="content">
                            <span class="title">Address
                        </span>
                            <p class="details">475/W 13th Street, Cooper New York, <br> United States</p>
                        </div>
                    </div>
                    <div class="single-contact-item">
                        <div class="icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="content">
                            <span class="title">Phone</span>
                            <p class="details">+458 123 657 <br> +415 103 557</p>
                        </div>
                    </div>
                    <div class="single-contact-item">
                        <div class="icon">
                            <i class="flaticon-mail-2"></i>
                        </div>
                        <div class="content">
                            <span class="title">Mail US</span>
                            <p class="details">info@example.com <br> info@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form style-01">
                    <div class="col-md-12">
                            {% if message %}

                                <div class="alert alert-success">{{message}}</div>
                        
                            {% endif %}
                    </div>

                    <form class="contact-page-form style-01" action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="fname" placeholder="Prénom" class="form-control" required="true" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="lname" placeholder="Nom" class="form-control" required="true" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="telephone" placeholder="Telephone" class="form-control" required="true" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email" class="form-control" required="true" aria-required="true">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="msg" id="msg" cols="1" rows="4" required="true" placeholder="Votre Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-wrapper">
                                <button type="submit" class="boxed-btn"><span>Envoyer</span></button>
                                <!--<a href="#" class="boxed-btn"><span>Send Message</span></a>-->
                                </div>
                            </div>
                            
                    </form>
                </div>
            </br></br></br>
            </div>
            
        </div>
    </div>
</div>
<!-- Map Area -->
<div class="map-area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d233667.8223908687!2d90.27923710646989!3d23.780887457084543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1588510922243!5m2!1sen!2sbd" style="border:0; width: 100%; height: 100%;"
                        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}