
{% extends "base-site.html" %}
    
{% load static %}

{% block content %}

    
<div class="header-slider-one">
    <div class="header-area style-02 header-bg-03" style="background-image:url({% static "assets/img/NEW.png" %});">
        <!--<div class="bg-img" style="background-image:url({% static "assets/img/photo.jpg" %});"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="header-inner-03">
                        <!-- header inner -->
                        <h1 class="title">Together we can make better country</h1>
                        <div class="header-bottom">
                            <div class="author-mate">
                                <div class="author-sign">
                                    <img src="{% static "assets/img/header-slider/sign.png" %}" alt="">
                                </div>
                                <div class="author-designation">
                                    <p>Candidate, Democrate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //.header inner -->
                </div>
            </div>
        </div>
    </div>
    <div class="header-area style-02 header-bg-03" style="background-image:url({% static "assets/img/NEW.png" %});">
        <!--<div class="bg-img mt-5" style="background-image:url({% static "assets/img/photo.jpg" %});"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="header-inner-03">
                        <!-- header inner -->
                        <h1 class="title">Together we can make better country</h1>
                        <div class="header-bottom">
                            <div class="author-mate">
                                <div class="author-sign">
                                    <img src="{% static "assets/img/header-slider/sign.png" %}" alt="">
                                </div>
                                <div class="author-designation">
                                    <p>Candidate, Democrate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //.header inner -->
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="header-bottom-area m-top">
        <div class="container">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-4">
                    <div class="header-bottom-top bg-blue">
                        <div class="section-title white">
                            <h2 class="title">Join Our Movement
                            </h2>
                            <p>Help fulfill our promise to Make America Great Again!</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact-info header-bottom-contact bg-litered">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col-md-6 bg-blue p-3 text-white">
                                <a href="{% url 'contact' %}">Cliquer ici et laissez nous un message</a>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- idology area start  -->
    <section class="idology-area padding-bottom-140 padding-top-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-sm-12 col-12">
                    <div class="section-title desktop-center margin-bottom-70">
                        <span>Policy positions</span>
                        <h2 class="title">Ideological Leader For Youth Generation
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item-03">
                        <div class="thumb">
                            <img src="{% static "assets/img/idology/04.png" %}" alt="">
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h3 class="title">Growing our economy</h3>
                                <p>Phasellus finibus ut felis sed suscipit. Donec gravida vel libero ac eleifend. Nullam i</p>
                                <div class="btn-wrapper">
                                    <a href="#" class="read-btn">Read More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item-03 active">
                        <div class="thumb">
                            <img src="{% static "assets/img/idology/02.png"%}" alt="">
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h3 class="title">Growing our economy</h3>
                                <p>Phasellus finibus ut felis sed suscipit. Donec gravida vel libero ac eleifend. Nullam i</p>
                                <div class="btn-wrapper">
                                    <a href="#" class="read-btn">Read More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="idology-single-item-03">
                        <div class="thumb">
                            <img src="{% static "assets/img/idology/03.png"%}" alt="">
                        </div>
                        <div class="content">
                            <div class="content-wrapper">
                                <h3 class="title">Growing our economy</h3>
                                <p>Phasellus finibus ut felis sed suscipit. Donec gravida vel libero ac eleifend. Nullam i</p>
                                <div class="btn-wrapper">
                                    <a href="#" class="read-btn">Read More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- idology area end -->
    <!-- Support Our Area -->
    <div class="support-our-activities">
        <div class="continer">
            <div class="row">
                <div class="col-md-12">
                    <div class="support-content padding-top-110 padding-bottom-460 bg-image-02" style="background-image: url({% static "assets/img/bg/09.png" %});">
                        <div class="content">
                            <h4 class="title">
                                Support Our Activities By a Raise Voice
                            </h4>
                            <div class="vdo-btn">
                                <a class="video-play-btn style-01 mfp-iframe" href="https://www.youtube.com/watch?v=-ZwQtICNbRc"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volunteer Area -->
    <div class="volunteer-area m-top">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item style-01">
                        <div class="content">
                            <h3 class="title">
                                Be a volunteer
                            </h3>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item">
                        <div class="thumb">
                            <img src="{% static "assets/img/volunteer/01.png" %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item  style-02">
                        <div class="content">
                            <h3 class="title">
                                Get Campaign Gear
                            </h3>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item">
                        <div class="thumb">
                            <img src="{% static "assets/img/volunteer/02.png" %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item">
                        <div class="content">
                            <h3 class="title">
                                Contribute Now
                            </h3>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="volunteer-single-item">
                        <div class="thumb">
                            <img src="{% static "assets/img/volunteer/03.png" %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visson and misson  -->
    <div class="misson-vision-area padding-top-120 padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="misson-vision-content-02">
                        <div class="content margin-bottom-30">
                            <div class="section-title">
                                <span>Vision & Mission </span>
                                <h2 class="title">Walk on idology with hope </h2>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="section-para"> Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Globally eenable</p>
                            </div>
                            <div class="btn-wrapper margin-top-30">
                                <a href="#" class="boxed-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="vision-single-item-02 margin-bottom-30">
                        <div class="thumb">
                            <img src="{% static "assets/img/we-provide/02.png" %}" alt="">
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Growing Economy</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim Nullam in justo mattis libero </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="vision-single-item-02 margin-bottom-30">
                        <div class="thumb">
                            <img src="{% static "assets/img/we-provide/03.png" %}" alt="">
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="title">Creating Jobs</h4>
                            </a>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim Nullam in justo mattis libero </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Area -->
    <div class="counterup-area bg-blue bg-image-02 padding-bottom-105 padding-top-100" style="background-image: url({% static "assets/img/bg/02.png" %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">25,007</span>+</div>
                            <h4 class="title">Successfully Delivered</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">344,771</span>+</div>
                            <h4 class="title">Worldwide Clients</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">7,079</span>+</div>
                            <h4 class="title">Store Clients Products</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">1043</span>+</div>
                            <h4 class="title">Total Km Reach So Far</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area start  -->
    <section class="testimonial-area bg-blue bg-image" style="background-image: url({% static "assets/img/bg/08.png" %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-area">
                        <div class="testimonial-carousel">
                            <div class="single-testimonial-item">
                                <div class="thumb bg-image-02 style-01" style="background-image: url({% static "assets/img/testimonial/02.png" %});"></div>
                                <div class="content style-01">
                                    <div class="icon">
                                        <i class="flaticon-right-quote-1"></i>
                                    </div>
                                    <h2 class="title">What they say</h2>
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Andre Robin
                                            </h4>
                                            <span class="designation">CTO, art media</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial-item">
                                <div class="thumb bg-image-02 style-01" style="background-image: url({% static "assets/img/testimonial/02.png" %});"></div>
                                <div class="content style-01">
                                    <div class="icon">
                                        <i class="flaticon-right-quote-1"></i>
                                    </div>
                                    <h2 class="title">What they say</h2>
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best. </p>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Andre Robin
                                            </h4>
                                            <span class="designation">CTO, art media</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->
    <!-- blog area start  -->
    <section class="blog-area padding-top-115 padding-bottom-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title desktop-center margin-bottom-60">
                        <span>Latest News</span>
                        <h3 class="title">Have a look whats going on</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-4">
                    <div class="single-blog-grid-01 style-01">
                        <div class="thumb">
                            <img src="{% static "assets/img/blog/01.png" %}" alt="blog image">
                        </div>
                        <div class="content">
                            <ul class="post-meta">
                                <li><a href="#"><span><em>By</em></span> Admin</a></li>
                                <li class="date"><a href="#"><i class="flaticon-booking"></i>20 Dec 2019</a></li>
                            </ul>
                            <h4 class="title"><a href="#">Presidnetal Electon 2020</a></h4>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-12">
                    <div class="row">
                        {% for new in news %}

                            <div class="col-md-4">
                                <div class="single-blog-grid-01">
                                    <div class="thumb">
                                        <img src="{{new.image.url}}" style="width: 360px; height: 200px; object-fit: cover;" class="img-fluid" alt="blog image" >
                                    </div>
                                    <div class="content">
                                        <ul class="post-meta">
                                            <li><span><em>By</em></span> {{new.author}}</li>
                                            <li class="date"><a><i class="flaticon-booking"></i>{{new.created_at}}</a></li>
                                        </ul>
                                        <h4 class="title"><a href="{% url 'new_details' new.id %}">{{new.title}}</a></h4>
                                        <p>{{new.summary}}</p>
                                        <button class="btn btn-info"><a href="{% url 'new_details' new.id %}">Voir plus</a></button>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}

                    </div>

                    <div><button class="btn btn-info"><a href="{% url 'news' %}">Voir plus d'actualités</a></button></div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog area end -->
    <!-- Dolar Area -->
    <div class="dolar-area bg-image padding-bottom-120 padding-top-100" style="background-image: url({% static "assets/img/testimonial/bg.png" %});">
        <div class="container">
            <div class="col-lg-12">
                <div class="dolar-campaign">
                    <div class="dolar-content">
                        <h2 class="title"><span class="count-num">2,053,828</span></h2>
                        <p>Dolars in Campaign Contiributions So Far</p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}